.container-daily {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Mengatur tinggi container agar memenuhi seluruh tinggi layar */
  }
  
  .daily-insight-title {
    font-weight: bold;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Menyamakan teks di tengah */
    margin-top: 50px;
    max-width: 900px;
  }
  
  
  .daily-insight-image {
    max-width: 100%; /* Atur lebar gambar agar sesuai dengan lebar container */
    height: auto; /* Biarkan tinggi gambar menyesuaikan proporsi aslinya */
    display: block; /* Pastikan gambar ditampilkan sebagai blok untuk menghindari jarak tambahan */
    margin: 20px auto; /* Atur margin atas dan bawah agar gambar terpusat dan terpisah dari teks */
    height: 400px;
    width: 600px;
  }
    
  .before-content {
    padding-top: 120px;
  }

  .daily-insight-description {
    max-width: 900px;
    font-size: 1rem; /* Meningkatkan ukuran font sedikit */
    line-height: 1.75; /* Menambah tinggi baris untuk kenyamanan membaca */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Menggunakan font yang cocok untuk artikel */
    color: #333; /* Warna teks yang kontras */
    padding: 20px; /* Menambahkan padding untuk ruang di sekitar teks */
    margin: 0 auto; /* Menambahkan margin otomatis agar teks berada di tengah */
    background-color: #f9f9f9; /* Warna latar belakang yang lembut untuk kenyamanan mata */
    border-radius: 5px; /* Sedikit membulatkan sudut untuk tampilan yang lebih menarik */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk tampilan yang lebih menonjol */
}

  