.daily-insight-title {
  font-size: 36px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px; /* Decreased margin to bring it closer to the cards */
}

.daily-insight-card {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Added padding for space within the card */
  border-radius: 10px; /* Added border radius for a card-like appearance */
  background-color: #fff; /* Added background color to the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.daily-insight-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Decreased margin */
}
.before-content {
  padding-top: 100px;
}
.daily-insight-card-content {
  font-size: 18px;
  margin-bottom: 10px; /* Decreased margin */
}

.daily-insight-card-link {
  text-decoration: none;
  color: inherit;
}

.link-text {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  margin-top: auto; /* Align the link text to the bottom of the card */
}

.link-text:hover {
  text-decoration: underline;
}

.card-body {
  height: 250px; /* Set a fixed height for the card body */
  overflow: hidden; /* Hide overflow content */
}

.card-body .card-title {
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
  white-space: nowrap; /* Prevent text from wrapping */
}

.card-body .btn {
  margin-top: auto; /* Align button to bottom of card body */
}
